body{ 
    background: black;
}

label, input, button {
    font-size: inherit;
    padding: 0.3em 0.4em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid grey;
    background-color: #fff;
    margin-top: 10px;
}
ul{
    text-align: left;
    margin-bottom: 30px;
    padding: 0;
    white-space:nowrap;
    display:inline;
}


li{  
    display: inline;
    padding-left: 20px;
    color:#aef;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color:#aef;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a.h1{
    font-size: 5px;
}

a{
    color:bisque;
    text-decoration: none;
}

input {
    font-size: 18px;
    margin-right: 0;
    border-radius: 0.6em 0 0 0.6em;
}
button {
    margin-left: 0;
    border-radius: 0 0.6em 0.6em 0;
    background-color: #aef;
}

button:hover{
    transform: scale(1.2);
}
.float-container {
    display: inline-block;
    padding-top: 20px;
    font-family: sans-serif;
}

.float-child {
    margin-left: 20px;
    margin-right: 30px;
    float: left;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.float-child img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.float-child img {
    width: 300px;
    height: 450px;
}
